{% extends 'basic.html' %}

{% block title %}about me{% endblock %}

{% block body %}
<div class="text title">
  <h1>Hi, my name is Arthur</h1>
    I am a Python developer. I am also learning <i>Python</i>, <i>SQL</i> and <i>HTML</i>
    <p>I live in Russia or rather west Siberia</p>
</div>
<div class="text networks">
  <h3>My social networks</h3>
    <li><a target="_blank" href="https://www.youtube.com/channel/UCKPXIQFbHB9DblAMBxEGuRw">Youtube profile</a></li>
    <li><a target="_blank" href="https://github.com/TheArtur128">GitHub</a></li>
    <li><a target="_blank" href="https://vk.com/yesarthur">Vk</a></li>
</div>
<div class="text contacts">
  <h3>My contacts</h3>
    <li><u>Email</u>: <i>s9339307190@gmail.com</i></li>
    <li><a target="_blank" href="https://discord.com/">Discord</a>: <i>!Arthurrr#3388</i></li>
    <li><a target="_blank" href="https://t.me/nigiritos">Telegram</a></li>
</div>
{% endblock %}
